## Lists

In [4]:
my_first_list = ["wandiya", "James", 23, 1.83]

In [5]:
print(my_first_list)

['wandiya', 'James', 23, 1.83]

In [6]:
type(my_first_list)

list

In [9]:
my_second_list = ["Datapwa", "James", 20, 1.75]

In [10]:
my_third_list = ["Enoch","James", 14,1.65]

In [11]:
my_family_list = [my_first_list, my_second_list, my_third_list]

In [12]:
print(my_family_list)

[['wandiya', 'James', 23, 1.83], ['Datapwa', 'James', 20, 1.75], ['Enoch', 'James', 14, 1.65]]

In [13]:
type(my_family_list)

list

NB. A list contains a list of list, and other different types
* List can be a container

In [14]:
print (my_family_list[0])

['wandiya', 'James', 23, 1.83]

In [15]:
print(my_family_list[0][3])

1.83

In [20]:
print(my_family_list[0][-1])

1.83

In [21]:
type(my_family_list[0])

list

In [22]:
my_1 = ["wandiya", "James", 23, 1.83]
my_2 = ["AIMS SN", "Python", 14]

In [23]:
my_1 + my_2

['wandiya', 'James', 23, 1.83, 'AIMS SN', 'Python', 14]

In [24]:
my_2 + my_1

['AIMS SN', 'Python', 14, 'wandiya', 'James', 23, 1.83]

In [26]:
my_1.append(7)

In [27]:
my_1

['wandiya', 'James', 23, 1.83, 7]

In [29]:
my_1.extend(6)

TypeError: 'int' object is not iterable

In [30]:
my_1.extend([6])

In [31]:
my_1

['wandiya', 'James', 23, 1.83, 7, 6]

NB. difference between append and extend:

In [32]:
2 * my_1

['wandiya', 'James', 23, 1.83, 7, 6, 'wandiya', 'James', 23, 1.83, 7, 6]

In [33]:
2.5 * my_1

TypeError: can't multiply sequence by non-int of type 'float'

## Dictionaries

Dictionary is key value pairs. it is enclosed in curly braces.
To access a dictionary. you must know the key

In [36]:
my_dict_1 = {'me': ["wandiya", "James", 23, 1.83], 'my_sister': ["Maryam", "James", 23, 1.83]}

In [37]:
my_dict_1

{'me': ['wandiya', 'James', 23, 1.83],
 'my_sister': ['Maryam', 'James', 23, 1.83]}

In [38]:
my_dict_1 ['me']

['wandiya', 'James', 23, 1.83]

In [43]:
my_dict_1 ['my_cousin'] = ["Ziva", "Akiti", 11, 1.03]

In [45]:
my_dict_1

{'me': ['wandiya', 'James', 23, 1.83],
 'my_sister': ['Maryam', 'James', 23, 1.83],
 'my_cousin': ['Ziva', 'Akiti', 11, 1.03]}

In [48]:
my_dict_2 ={'me': ["wandiya", "James", 23, 1.83], 
            'my_sister': ["Maryam", "James", 23, 1.83],
            'my_cousin' :["Ziva", "Akiti", 11, 1.03]}

In [51]:
my_dict_2.items ()

dict_items([('me', ['wandiya', 'James', 23, 1.83]), ('my_sister', ['Maryam', 'James', 23, 1.83]), ('my_cousin', ['Ziva', 'Akiti', 11, 1.03])])

In [52]:
my_dict_2.keys()

dict_keys(['me', 'my_sister', 'my_cousin'])

In [50]:
#me and neighbour on the right
my_dict_3 = {'me': ["wandiya", "James", 23, 1.83],
            'Roy': ["Roy Abalo", 18, 1.60]}

In [53]:
# two neighbours on the left
my_dict_4 = {'Eric': ["Eric", "Akoto", 21, 1.73],
            'Gedeon': ["Gedeon", "Lekounda", 24, 1.83]}

In [66]:
my_dict_3.update(my_dict_4)

In [67]:
my_dict_3

{'me': ['wandiya', 'James', 23, 1.83],
 'Roy': ['Roy Abalo', 18, 1.6],
 'Eric': ['Eric', 'Akoto', 21, 1.73],
 'Gedeon': ['Gedeon', 'Lekounda', 24, 1.83]}